@charset "utf-8";
/* CSS Document */

table.tabtop13 {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 60%;
	margin:auto;
  }
  
table.tabtop13 td, table.tabtop13 th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
table.tabtop13 tr:nth-child(even){background-color: #f2f2f2;}
  
table.tabtop13 tr:hover {background-color: #ddd;}
  
table.tabtop13 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #617172;
	color: white;
  }

.notboot{
	font-size: 30px;
	color: #134857;
	text-align: center;
  }

  input[type=text], select {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	
  }
  input[type=date], select {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  input[type=button] {
	width: 10%;
	background-color: #134857;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  
  div {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 5px;
	text-align: center;
  }